@page
@model LodBasen.Pages.Gruppe.DeleteGruppeModel
@{

    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h3>Er du sikker?</h3>
<div>
    <hr />
    <form method="post">
        <dl class="row">

            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Gruppe.GruppeNavn)</dt>
            <dd class="col-sm-10">  @Model.Gruppe.GruppeNavn </dd>
           
        </dl>
        <input type="hidden" asp-for="Gruppe.GruppeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Gruppe/GetGruppe">
            <input type="button" class="btn btn-outline-primary" value="Tilbage" />
        </a>
    </form>
</div>

