@page
@model LodBasen.Pages.Gruppe.GetGruppeModel
@{
	ViewData["Title"] = "GetGruppe";
}
<h1>Grupper</h1>

@* <form>
    <p>
        Search: <input type="text" asp-for="Search" />
        <input type="submit" value="Filter" />
        <a asp-page="/Gruppe/GetGruppe">Back to Full List </a>
    </p>
</form> *@

<p>
    <a asp-page="/Gruppe/CreateGruppe">Tilføj gruppe</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th> Gruppe Navn </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Grupper)
            {
                <tr>
                    <td> 
                        
                        @item.GruppeNavn
                        
                    </td>
                    <td>
                        
                            <a asp-page="/Barn/GruppeBarn" asp-route-id="@item.GruppeId">Børn i gruppen</a>
                        
                    </td>
                    <td>
                        
                            <a asp-page="/Gruppe/UpdateGruppe" asp-route-id="@item.GruppeId">Rediger gruppe</a>
                        
                    </td>
                    <td>
                        
                            <a asp-page="/Gruppe/DeleteGruppe" asp-route-id="@item.GruppeId">Slet gruppe</a>
                        
                    </td>
                </tr>
            }
        }
</table>
