@page
@model LodBasen.Pages.GetSuperSælgerModel
@{
    ViewData["Title"] = "GetSuperSælger";
}
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="table-container">

    <div class="header1">
        <h1> Supersælger </h1>
    </div>
    
    <hr />

    <table class="table table-striped rounded-table shadow p-3 mb-5 bg-white rounded">
        <thead class="t-head">
            <tr>
                <th class="th-item"> Rangering </th>
                <th class="th-item"> Solgte lodsedler </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> @Model.SuperSælgere.ElementAt(0) </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> @Model.SuperSælgere.ElementAt(1) </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> @Model.SuperSælgere.ElementAt(2) </td>
            </tr>
        </tbody>
    </table>
</div>



 
