@page
@model LodBasen.Pages.Auth.LoginModel;
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/style.css">

<h2 class="text-center">Velkommen til LodBasen</h2>
<p class="text-center">Tag et kig omkring :)</p>