@page
@model LodBasen.Pages.Admin.GetAdminModel
@{
    ViewData["Title"] = "GetAdmin";
}

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="table-container">

    <div class="headerh1">
        <h1>Admin</h1>
    </div>

    <hr />

<table class="table table-striped rounded-table shadow p-3 mb-5 bg-white rounded">
    <thead class="t-head">
        <tr>
            <th class="th-item"> Navn </th>
            <th class="th-item"> Antal lodsedler</th>
            <th class="th-item">Udleverede lodsedler</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Admins)
            {
                <tr>
                    <td> @item.Navn</td>
                    <td> @item.Antal</td>
                    <td> @item.Udleveret</td>
                </tr>
            }
        }

    </tbody>
</table>
</div>